.edit-post-visual-editor * {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif !important;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
    line-height: 1.66;
    color: #333;
}

.edit-post-visual-editor .components-placeholder * {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	font-size: 13px;
	font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

.edit-post-visual-editor h1 {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
}

.edit-post-visual-editor h2 {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
}

.edit-post-visual-editor h3 {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
}

.edit-post-visual-editor h4 {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

.edit-post-visual-editor h5 {
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.edit-post-visual-editor h6 {
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
}

.edit-post-visual-editor a {
	-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	color: #222;
	text-decoration: none;
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.edit-post-visual-editor a:focus {
	outline: thin dotted;
}

.edit-post-visual-editor a:hover,
.edit-post-visual-editor a:focus {
	color: #000;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
}

.edit-post-visual-editor .wp-block-button__link {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-weight: bold;
}

.edit-post-visual-editor .wp-block-quote:not(.is-large):not(.is-style-large) p,
.wp-block-pullquote p {
	font-style: italic;
}
