/** Child stylesheet */

body.has-header-image.twentyseventeen-front-page.wp-custom-logo .custom-logo-link img,
body.has-header-video.twentyseventeen-front-page.wp-custom-logo .custom-logo-link img,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link img,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link img {
	width: 100%;
	max-height: 100%;
}

body.has-header-image.twentyseventeen-front-page.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-video.twentyseventeen-front-page.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-image.home.blog.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-image.home.blog.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-image.twentyseventeen-front-page.wp-custom-logo .custom-logo-link,
body.has-header-video.twentyseventeen-front-page.wp-custom-logo .custom-logo-link,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link {
	display: block;
	text-align: center;
}

.has-header-image.twentyseventeen-front-page.wp-custom-logo .site-branding,
.has-header-video.twentyseventeen-front-page.wp-custom-logo .site-branding,
.has-header-image.home.blog.wp-custom-logo .site-branding,
.has-header-video.home.blog.wp-custom-logo .site-branding {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	bottom: 15%;
}

.custom-logo-link img {
	max-width: 250px;
}

@media screen and (min-width: 48em) {
	.has-header-image.twentyseventeen-front-page.wp-custom-logo .site-branding,
	.has-header-video.twentyseventeen-front-page.wp-custom-logo .site-branding,
	.has-header-image.home.blog.wp-custom-logo .site-branding,
	.has-header-video.home.blog.wp-custom-logo .site-branding {
		  bottom: 0;
	}
}

/* Hides English text by default */
.en-text {
	display: none;
}

/* Show it when the target is matching its id attributes */
.en-text:target {
	display: block;
}

.maintenance-template-default .navigation-top {
	bottom: 0;
}

.maintenance-template-default .navigation-top h1 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	width: 60%;
	float: left;
}

.maintenance-template-default #site-navigation .login-link {
	color: #767676;
	top: 0.7em;
	display: block;
	padding: 1em;
	position: absolute;
	right: 0;
}

.maintenance-template-default #site-navigation .login-link .icon {
	height: 18px;
	width: 18px;
}

.js .maintenance-template-default .menu-toggle {
	display: none;
}

@supports ( object-fit: cover ) {
	.has-header-image:not(.twentyseventeen-front-page):not(.home) .custom-header-media img {
		height: auto;
	}
}
