/** Child stylesheet */

body.has-header-image.twentyseventeen-front-page.wp-custom-logo .custom-logo-link img,
body.has-header-video.twentyseventeen-front-page.wp-custom-logo .custom-logo-link img,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link img,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link img {
	width: 100%;
	max-height: 100%;
}

body.has-header-image.twentyseventeen-front-page.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-video.twentyseventeen-front-page.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-image.home.blog.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-image.home.blog.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-image.twentyseventeen-front-page.wp-custom-logo .custom-logo-link,
body.has-header-video.twentyseventeen-front-page.wp-custom-logo .custom-logo-link,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link {
	display: block;
	text-align: center;
}

.has-header-image.twentyseventeen-front-page.wp-custom-logo .site-branding,
.has-header-video.twentyseventeen-front-page.wp-custom-logo .site-branding,
.has-header-image.home.blog.wp-custom-logo .site-branding,
.has-header-video.home.blog.wp-custom-logo .site-branding {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	bottom: 15%;
}

.custom-logo-link img {
	max-width: 250px;
}

@media screen and (min-width: 48em) {
	.has-header-image.twentyseventeen-front-page.wp-custom-logo .site-branding,
	.has-header-video.twentyseventeen-front-page.wp-custom-logo .site-branding,
	.has-header-image.home.blog.wp-custom-logo .site-branding,
	.has-header-video.home.blog.wp-custom-logo .site-branding {
		  bottom: 0;
	}
}

/* Makes sure the fixed main navigation menu won't hide part of the text */
:target:before {
	content: "";
	display: block;
	height: 120px;      /* fixed main navigation menu height */
	margin: -120px 0 0; /* negative fixed main navigation menu height */
}

/* Hides English text by default */
.en-text {
	display: none;
}

/* Show it when the target is matching its id attributes */
.en-text:target {
	display: block;
}

#maintenance-mode {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 4;
}

#maintenance-mode .on,
#maintenance-mode .off {
	color: #fff;
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	line-height: 1em !important;
	-webkit-box-shadow: 0 2px 1px rgba(46,68,83,0.15);
	box-shadow: 0 2px 1px rgba(46,68,83,0.15);
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #fff;
	padding: 9px 8px;
	margin: 0;
	background-color: #d98500;
}

#maintenance-mode .off {
	background-color: #006505;
}

#maintenance-mode svg {
	min-width: 20px;
	min-height: 20px;
	width: 20px;
	height: 20px;
	margin: auto;
}

.maintenance-template-default .navigation-top {
	bottom: 0;
}

.maintenance-template-default .navigation-top h1 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	width: 60%;
	float: left;
}

.maintenance-template-default #site-navigation .login-link {
	color: #767676;
	top: 0.7em;
	display: block;
	padding: 1em;
	position: absolute;
	right: 0;
}

.maintenance-template-default #site-navigation .login-link .icon {
	height: 18px;
	width: 18px;
}

.js .maintenance-template-default .menu-toggle {
	display: none;
}

@supports ( object-fit: cover ) {
	.has-header-image:not(.twentyseventeen-front-page):not(.home) .custom-header-media img {
		height: auto;
	}
}
